@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Tajawal', sans-serif;
    @apply bg-gray-50 dark:bg-gray-900 text-gray-800 dark:text-gray-200;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .rtl {
    direction: rtl;
  }
}